@import '../utils/variables';
@import '../utils/mixin';
@import '../base/general';

footer {
    width: 100%;
    background-color: map-get($color, bg-footer);
    padding: 20px;

    h2 {
        margin: 0 0 10px 0;
        @include font-family($font-f : map-get($font, title));
        color: white;
        font-size: 14px;

        @media (min-width : $breakpoint-tablet) {
            text-align: center;
            font-size: 30px;
        }
    }

    ul {
        list-style: none;

        @media (min-width: $breakpoint-tablet) {
            width: 90%;
            margin: 20px auto 10px;
            display: flex;
            justify-content: space-around;
        }

        li {
            margin: 5px 0;
            font-size: 13px;

            i {
                font-size: 10px;
                width: 10px;
                margin-right: 10px;
            }
        }
    }

    a {
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
}