@import '../utils/keyframes';

.restaurant-card__description__like {   // I should put the heart in a components file
    width: 28px;
    height: 26px;
    margin: 5px 10px;
    font-size: 25px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
    &:hover {
        animation: heart-anim 500ms ease-out forwards;
        -webkit-text-stroke: 1px transparent;
    }
}