@import '../utils/_variables';

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    @include font-family;
}

h2 {
    margin: 25px 0px;

    @media (min-width:$breakpoint-tablet){
        margin : 20px 10px 30px;
    }
}

a {
    text-decoration: none;
    color: black;
}