@import '../utils/_variables';

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: map-get($font, text);
}

h2 {
    margin: 25px 0px;
}

a {
    text-decoration: none;
    color: black;
}