@import '../utils/variables';
@import '../utils/mixin';
@import '../utils/keyframes';


/*============================================================================*/
/*---------------------------------- Banner ----------------------------------*/
/*============================================================================*/

#banner {
    background-color: map-get($color, bg-section-grey);

    .container {
        width: 100%;
        height: 280px;

        @media (min-width:$breakpoint-desktop) {
            height: 400px;
        }

        img {
            width: 100%;
            height: 280px;
            object-fit: cover;

            @media (min-width:$breakpoint-desktop) {
                height: 400px;
            }
        }
    }
}


/*============================================================================*/
/*----------------------------------- Menu -----------------------------------*/
/*============================================================================*/

#menu {
    position: relative;
    width: 100%;
    top: -50px;
    background-color: map-get($color, bg-section-grey);
    border-radius: 40px 40px 0px 0px;
    padding: 40px 10px 0px;
    margin-bottom: -50px;

    @media (min-width : $breakpoint-desktop) {
        padding: 40px 30px 0px;
        border-radius: 0px;
    }

    .menu__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @include padding-title-menu;
        margin-bottom: 25px;

        h1 {
            @include font-family(map-get($font, title));
            font-size: 28px;
            font-weight: 300;
        }
    }

    .menu__part {
        h2 {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 16px;
            @include padding-title-menu;
            margin: 0px 0px 5px 0px;
        }

        &__under-title-line {
            width: 40px;
            height: 3px;
            background-color: map-get($color, tertiary);
            margin: 0px 0px 10px 10px;
        }

        &__plates {
            display: flex;
            flex-direction: column;

            @media (min-width: $breakpoint-desktop) {
                opacity: 0;
                flex-flow: row wrap;
                justify-content: space-between;
                animation: slideUp 1s forwards;
            }
        }
    }

    .main-course .menu__part__plates {
        @media (min-width : $breakpoint-desktop) {
            animation-delay: 200ms;
        }
    }

    .dessert .menu__part__plates {
        @media (min-width : $breakpoint-desktop) {
            animation-delay: 400ms;
        }
    }

    .menu__btn {
        width: 100%;
        text-align: center;

        .btn-gradient {
            margin: 30px
        }
    }
}


.menu__part__plate {
    opacity: 0;
    margin-bottom: 15px;
    @include card-inside;
    overflow: hidden;

    animation: slideUp 1s forwards;

    @media (min-width : $breakpoint-desktop) {
        opacity: 1;
        animation: none;
        margin-bottom: 50px;
        width: 32%;
    }

    &:nth-child(2) {
        animation-delay: 200ms;
    }

    &:nth-child(3) {
        animation-delay: 400ms;
    }

    &:nth-child(4) {
        animation-delay: 600ms;
    }

    &:hover .menu__part__plate__right div {
        width: $bloc-check-width;
        transform: translateX(0);

        i {
            transform: rotate(360deg);
        }
    }

    &__name {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        padding: 15px 0px 15px 15px;

        >*{
            text-overflow: ellipsis;
            overflow: hidden;
        }

        h3 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 5px;
        }

        p {
            font-size: 14px;
            font-weight: 300;
        }
    }

    &__right {
        display: flex;
        align-items: stretch;
        border-radius: 0px $default-radius $default-radius 0px;

        transition: all 250ms ease-in-out;

        p {
            width: $bloc-check-width;
            align-self: flex-end;
            padding: 15px 5px;
            font-weight: 500;
        }

        div {
            transition: all 250ms ease-in-out;
            width: 0;
            transform: translateX($bloc-check-width);
            @include flex-center;
            background-color: map-get($color, tertiary);
            border-radius: 0px $default-radius $default-radius 0px;

            i {
                transform: rotate(180deg);
                font-size: 20px;
                background-color: map-get($color, tertiary);
                color: white;
                transition: all 500ms 100ms ease-in-out;
            }
        }
    }
}