@import '../utils/variables';

/*====================================================================*/
/*------------------------------- Font -------------------------------*/
/*====================================================================*/

@mixin font-family($font-f : map-get($font, text)) {
    @if ($font-f==map-get($font, text)) {
        font-family: $font-f, Arial, Helvetica, sans-serif;
    }

    @else {
        font-family: $font-f, 'Comic Sans Ms', 'Comic Sans', Arial, serif;
    }
}

/*====================================================================*/
/*----------------------------- General ------------------------------*/
/*====================================================================*/

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin border-radius ($radius : $default-radius) {
    border-radius: $default-radius $default-radius $radius $radius;
}

/*------------------------ Padding -------------------------*/

@mixin padding-section-mobile {
    padding: 30px 20px;
}

@mixin padding-section-tablet {
    padding: 10px 30px 30px;
}

@mixin padding-title-menu {
    padding: 0px 10px;
}

/*====================================================================*/
/*----------------------------- Element ------------------------------*/
/*====================================================================*/

@mixin card-inside {
    display: flex;
    width: 100%;
    background-color: white;
    box-shadow: 3px 5px 8px map-get($color, bg-localisation);
    transition: all 250ms ease-in-out;
    cursor: pointer;
    @include border-radius;

    &:hover {
        box-shadow: 4px 6px 10px darken(map-get($color, bg-localisation), 10);

    }
}

/*====================================================================*/
/*--------------------------- Animation ------------------------------*/
/*====================================================================*/

/*--------------------------- Heart ------------------------------*/

@mixin heart-bg {
    background-clip: text;
    color: transparent;
}

@mixin heart-transition {
    transition: all 250ms ease-in-out;
}

/*--------------------------- Loader ------------------------------*/

@mixin bar-animation ($name, $timing, $delay) {
    transform-origin: center bottom;
    animation: $name $timing $delay cubic-bezier(.01, .72, .21, .92) infinite;
}

@mixin bar-animation-part ($scaling, $timing : $slow-bar) {
    transform: scaleY($scaling);
    transition-timing-function: $timing;
}

@mixin opacity-for-loader ($opacity-animation) {
    animation: $opacity-animation $animation-opacity-timing $timing-of-loader ease-in-out forwards;
}