@import '../utils/variables';

@mixin padding-section-mobile {
    padding: 30px 20px;
}

@mixin padding-section-tablet {
    padding: 10px 30px 30px;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin border-radius ($radius : $default-radius) {
    border-radius: $default-radius $default-radius $radius $radius;
}