@import '../utils/variables';

@mixin padding-section {
    padding: 30px 20px;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin border-radius ($radius : $default-radius) {
    border-radius: $default-radius $default-radius $radius $radius;
}