/*====================================================================*/
/*----------------------------- General ------------------------------*/
/*====================================================================*/

$font : (
    title : 'Shrikhand',
    text : 'Roboto'
);

$color : (
    primary : #9356DC,
    secondary : #FF79DA,
    tertiary : #99E2D0,
    bg-localisation : #EAEAEA,
    bg-section-grey : #F6F6F6,
    bg-footer : #353535
);


$default-radius : 15px;

/*====================================================================*/
/*---------------------------- Breakpoint ----------------------------*/
/*====================================================================*/

$breakpoint-tablet : 768px;
$breakpoint-desktop : 992px;

/*====================================================================*/
/*----------------------------- Animations ---------------------------*/
/*====================================================================*/

$slow-bar : cubic-bezier(.01,.86,.16,1);
$fast-bar : cubic-bezier(.95,0,1,.3);

$animation-opacity-timing : 1000ms;
$timing-of-loader : 3000ms;

$bloc-check-width : 60px;